br
br
footer
    <!--div(class="foot")-->
    <!--div.foot-->
    .foot
        .container 
            .row.justify-content-center
                .col 
                    nav.nav.footer.justify-content-center
                        .container-fluid-md-5.justify-content-center
                            img(src="img/canasta.png",width="100px",height="100px")
                            img(src="img/manza.png",width="75px",height="75px") 
                            img(src="img/pm.png",width="150px",height="150px")
                            img(src="img/manza1.png",width="75px",height="75px")
                            img(src="img/canasta1.png",width="100px",height="100px")
                                