header 
    <!--div(class="navegacion")-->
    <!--div.navegacion-->
    .navegacion 
        .container 
            .row.justify-content-center.justify-content-md-between.align-items-center.py-2 
                .col-md-1.col-1 
                    a(href="/")
                        img(src="img/zacatlan.png",width="200",height="200")
                .col-md-7(style="font-size:2rem")
                    nav.nav
                        a.nav-link(href='/hoteles' style="font-size:3.5rem") Hospedaje