extends ./layout/index.pug 
block compartircontenido 
    inicio
    .inicio
        .container.col-lg
            h2 Hoteles de Zacatlán
            
    .descripcion 
        h1.d.block.w-100.text-left Descripción
    .container.col-lg
        .row.justify-content-left
            .zaca
                p.d.block.w-100.text-left Siempre acompañado de neblina, Zacatlán vive al borde de la hermosa Barranca de Los Jilgueros. Aquí se tiene la costumbre de hornear pan todos los días, de fabricar monumentales relojes y cultivar las frutas que la tierra regala. Son las manzanas las que más abundan, así que se deshidratan o se convierten en licores y  mermeladas. Su existencia se agradece cada año durante la Feria de la Manzana con bailes y desfiles de carros alegóricos.
    br
    .imagenes
        .container.col-lg
            .row.justify-content-center
                img(src="img/casas.jpg",width="350",height="200")
                img(src="img/letras.jpg",width="400",height="200")
                img(src="img/mirador.jpg",width="350",height="200")
    br
    <!--div(class="hoteles")-->
    <!--div.hoteles-->
    .hoteles
        .container.col-lg
            .row.justify-content-center
                h3.d.block.w-100.text-center Hospedaje 
    br
    .hotel
        img(src="../img/hotel.png")
        blockquote Zacatlán vive al borde de la hermosa Barranca de Los Jilgueros y cuenta con una gran variedad de opciones de hospedaje para que puedas quedarte a disfrutar de el show de autómatas que sucede en los balcones del museo de relojería los fines de semana.
