header 
    <!--div(class="navegacion")-->
    <!--div.navegacion-->
    .navegacion 
        .container 
            .row.justify-content-center.justify-content-md-between.align-items-center.py-2 
                .row.justify-content-center.col
                    a(href="/")
                        img(src="img/zacatlan.png",width="150",height="150")
                .col-md-9-col-1
                    nav.nav
                        a.nav-link(href='/listaHoteles') Hoteles
                        a.nav-link(href="/imgHtl") &nbspImagen Hotel                              
                        a.nav-link(href='/listaGerentes') &nbspGerentes
                        a.nav-link(href="/habitaciones") &nbspHabitaciones
                        a.nav-link(href="/imgHbt") &nbspImagen Habitacion
                        a.nav-link(href="/cerrarSesion", style="color: grey; font-size: 1.5rem; margin-rigth:0px") &nbsp&nbsp&nbsp&nbspCerrar Sesión