extends ./layout/index.pug 
block compartircontenido 
    .inicioAdm
    .row.justify-content-center.col 
        p(style='font-size:5rem; font-family: Franklin Gothic Medium, Franklin Gothic Medium; color: black;') ADMINISTRACIÓN